header {
    height: rem-calc(90);
    position: relative;
    .header-logo {
        height: rem-calc(40);
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.content {
    margin: rem-calc(50 0 80 0);
    article {
        .article-inner {
            position: relative;
            display: block;
            .article-top-image {
                height: rem-calc(380);
                background-position: center center;
                background-size: cover;  
                position: relative;
                .article-top-image-overlay {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-color: $black;
                    opacity: 0;
                    transition: opacity .5s ease-in-out;
                    transition-delay: .25s;
                }
                .article-content {
                    position: absolute;
                    bottom: 0;
                    color: $black;
                    padding: rem-calc(25 22 35 22);
                    background-color: $light-gray; 
                    width: 100%;
                    .title-wrapper {
                        display: flex;
                        h4 {
                            font-weight: bold;
                        }
                        .arrow-article {
                            float: right;
                            transition: all .2s ease-in-out;   
                            font-weight: bold;                                             
                        }
                    }
                    p {
                        max-height: 0;
                        opacity: 0;
                        transition: all 1s ease;
                        transition-delay: .25s;
                    }
                }
            }
            &:hover .article-content p {
                max-height: rem-calc(380);
                opacity: 1;
            }
            &:hover .arrow-article {
                padding-right: rem-calc(12);
            }
            &:hover .article-top-image-overlay {
                opacity: .35;
            }
        }
    }
    .colored-line {
        height: rem-calc(8);
        display: block;
    }
}